/* common */
.ms-dotted {
    border-bottom: 2px dotted grey;
}

.location-card {
    border: 1px solid black;
}

/* location image */
.location-img img {
    width: 100%;
}

/* right card */
.right-card {
    padding: 0 1rem;
}

/* reviews */
.reviews {
    background-color: lightcoral;
}

.circles {
    display: inline;
}

.ms-circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: green;
    display: inline-block;
}

.reviews ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.reviews .utensils, .concierge {
    display: none;
}

/* offer */
.offer {
    background-color: lightgreen;
}

/* price */
.price {
    background-color: lightpink;
    display: none;
}

/* lg screen */
@media screen and (min-width: 1100px) {
    /* location card */
    .location-card {
        display: flex;
    }

    /* location image */
    .location-img img {
        height: 100%;
        object-fit: cover;
    }

    /* card content */
    .card-content {
        display: flex;
    }

    /* reviews */
    .reviews {
        width: 50%;
        order: 3;
    }

    .reviews .utensils, .concierge {
        display: block;
    }

    /* offer */
    .offer {
        width: 30%;
        order: 1;
    }

    /* price */
    .price {
        display: block;
        width: 20%;
        order: 2;
    }
}